<!-- pages/templates/pages/bio.html -->

{% extends "base.html" %}
{% block page_content %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'index' %}">Inicio</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'exp' bio.pk %}">Experiencia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/projects">Proyectos</a>
          </li>

        </ul>
</nav>
<div>
    <h1>{{bio.name}}</h1>
    <div class="row">
        <aside>
            <a class="btn btn-secondary" href="{% url 'bio_edit' bio.pk %}">Editar</a> 
        </aside>
    <div class="col-md-6">
        {% if bio.image %}
            <img src="{{bio.image.url}}" width="500">
        {% endif %}
    </div>
    <div class="col-md-6">
        <p>{{bio.bio}}</p>
        <p>{{bio.web}}</p>
        <p>{{bio.rrss_1}}</p>
        <p>{{bio.rrss_2}}</p>
        <p>{{bio.email}}</p>
    </div>
</div>


{% endblock page_content %}
