<!-- pages/templates/pages/home.html -->

{% extends "base.html" %}

{% block page_content %}
<div>

    <h1>{{bio.name}}</h1>
    <!-- NUESTRA INTRODUCCION GENERADA DINAMICAMENTE IRIA AQUI, EN VEZ DE TEXTO A PELO-->
    <div class="row">
        <p>{{bio.bio}}</p>
        <p>{{bio.web}}</p>
        <p>{{bio.rrss_1}}</p>
        <p>{{bio.rrss_2}}</p>
        <p>{{bio.email}}</p>
        <div class="col-md-8">
            {% if project.image %}
                <img src="{{ bio.image.url }}" width="100%">
            {% endif %}
        </div>
    </div>
     <!-- FIN DE NUESTRA INTRODUCCION-->
</div>


{% endblock page_content %}
