<!-- projects/templates/projects/project_index.html -->

{% extends "base.html" %}

{% block page_content %}
<h1>Proyectos</h1>
<div><button type="button" class="btn btn-primary btn-sm"> <a class="nav-link" href="/projects/new">Nuevo proyecto +</a></button></div>
<hr class="hr hr-blurry" />
<div class="row">
{% for project in projects %}
    <div class="col-md-4">
        <div class="card mb-2">
            {% if project.image %}
                <img class="card-img-top" src="{{ project.image.url }}">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ project.title }}</h5>
                <p class="card-text">{{ project.description }}</p>
                <a href="{% url 'project_detail' project.pk %}"
                   class="btn btn-primary">
                    Leer más
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}